
*{
    margin: 0;
    --light-green:#96be25;
    --dark-green:#2c6914;
    --lighter-green: #dcf2bb;
    font-family: sans-serif;

}

a{
    text-decoration: none;
}

.menu-navegacion{
    background-color: var(--light-green);
}

.menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 0;
    width: 80%;
    margin: auto;
}

.menu-navegacion__busqueda{
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.menu-navegacion__busqueda input{
    padding: .4rem 0;
    background-color: var(--lighter-green);
    border-color: #fff;

}

.menu-navegacion__busqueda label{
    font-size: 1.5rem;
}

.btn{
    width: 140px;
    padding: 10px 0;
    font-size: 16px;
    border: 3px solid;
    border-radius: 10px;
    text-align: center;
}


.menu-navegacion__btn-login{
    background-color: var(--light-green);
    border-color: #fff;
    color: #fff;
}


/*BANNER*/
.banner{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/banner.jpg);
    background-position: center;
    padding-bottom: 3rem;
}

.banner-container{
    width: 80%;
    margin:auto ;
}

.banner__encabezado{
    font-size: 2rem;
    color: #fff;
    padding: 2rem 0;
}

.banner__parrafo{
    font-size: 1.5rem;
    color: #fff;
    padding-bottom: 2rem;
}

.banner__btn-ver-consolas{
    border-color: #fff;
    color: #fff;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;

}


/*Productos*/
.videojuegos, .consolas, .perifericos{
    padding-bottom:2rem ;

}

.videojuegos__encabezado, .consolas__encabezado, .perifericos__encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

.videojuegos__encabezado__titulo, .consolas__encabezado__titulo, .perifericos__encabezado__titulo {
    font-size: 1.6rem;
    padding: 1rem 0;

}

.videojuegos__encabezado__link, .consolas__encabezado__link, .perifericos__encabezado__link{
    color: var(--dark-green);
    font-weight: bold;
    font-size: 1.1rem;
}


.videojuegos__productos, .consolas__productos, .perifericos__productos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    gap: 1rem;
}

.producto{
    width: 160px;
    height: 280px;
    border: 3px solid var(--light-green);
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #fff;
}

.imagen-producto{
    height: 200px;
    width: 100%;
}

.nombre-producto, .precio-producto{
    padding-bottom: .5rem;
}

.link-producto{
    color: var(--dark-green);
    font-weight: bold;
}


/*Rodapie*/

.section-rodapie{
    background-color: var(--light-green);

}

.rodapie{
    display: flex;
    justify-content: space-between;
    color: #fff;
    width: 80%;
    margin: auto;
    padding: 2rem 0;
}

.rodapie__img-container{
    width: 25%;

}

.rodapie__lista-container{
    width: 25%;

}

.rodapie__lista-container ul{
    list-style: none;
    padding: 0;

}

.rodapie__lista-container ul li a{
    color: #fff;
}

.rodapie__lista-container ul li{
    padding: .4rem 0;
}

.formulario-container{
    width: 49%;
}


.formulario__encabezado{
    font-size: 1.2rem;
    padding-bottom: .5rem;
}

.formulario label{
    display: block;
    font-weight: bold;
    padding: .5rem 0;
}

.formulario input{
    width: 100%;
    padding: .5rem 0;
    background-color: var(--lighter-green);
    border-color: #fff;
    font-size: 1rem;
}

.btn-enviar{
    display: block;
    margin-top: 1rem;
    border-color: #fff;
    color: #fff;
}

/*footer*/

footer{
    background-color: var(--lighter-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 8vh;

}
